@model MVCECommerceRemake.Models.BasketCompatabiltyModel

@{
    ViewData["Title"] = "Basket";
}

<h2>Basket</h2>

<div class="container">
    @{
        try
        {

            List<int> quantityLimit = new List<int>(15);

            for (int i = 1; i < 16; i++)
            {
                quantityLimit.Add(i);
            }

            int k = -1;


            foreach (var item in Model.Pvm.products)
            {
                k++;
                <div class="layout-products">
                    @item.ProductName
                    <br />
                    <a href='/Baskets/Details/@item.ProductId'><img class='img-products' src='@Url.Content("/images/ProductImages/" + @item.ProductId + ".jpg")' /></a>
                    <br />
                    £@item.ProductPrice
                    <br />
                    Quantity: 
                    <select id="@item.ProductId" onchange="selectionChanged(this.id);">
                        @foreach (var option in quantityLimit)
                        {
                            if (option == Model.Bvm.baskets[k].Quantity)
                            {
                                <option selected>
                                    @option
                                </option>
                            }

                            else
                            {
                                <option>
                                    @option
                                </option>
                            }
                        }
                    </select>

                    <!-- @string.Format("Quantity: {0}", Model.Bvm.baskets[k].Quantity) Editable list box like orginal page-->
                    <!-- placeholder for add to basket <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> | -->
                    <!--<a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    placeholder for remove from basket <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a> -->
                </div>

                }
                }

                catch
                {
                <p class="text-left">There are no items to display, please add some to the basket first or sign in if you haven't already.</p>
                }
        }

</div>




