@model MVCECommerceRemake.Models.ProductsCategoryViewModel

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        Choose a product category: <select onchange="submit()" asp-for="productCategory" asp-items="Model.categories">
            <option value="">All</option>
        </select>

        Search by name: <input type="text" name="searchString">
        <input type="submit" value="Search" />
    </p>
</form>

<!--Create new product, not needed for customer view
<p>
    <a asp-action="Create">Create New</a>
</p>
-->

<div id="divProducts" class="container">
    @foreach (var item in Model.products)
    {
        <div class="col-sm-3 col-xs-5">
            <a href='/Products/Details/@item.ProductId'><img class='img-products' src='@Url.Content("/images/ProductImages/" + @item.ProductId + ".jpg")' /></a>
            <br />
            @item.ProductName
            <br />
            @item.ProductPrice
            <br />
            <!-- placeholder for add to basket <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> | -->
            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> <!-- | -->
            <!-- placeholder for remove from basket <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a> -->
        </div>
    }
</div>
